conn multicloud
    type=tunnel
    authby=secret
    left=%defaultroute
    {% if 'aws' in group_names %}
    leftid={{ aws_peer }}
    leftsubnet={{ aws_subnet }}
    {% else %}
    leftid={{ gce_peer }}
    leftsubnet={{ gce_subnet }}
    {% endif %}
    leftnexthop=%defaultroute
    {% if 'aws' in group_names %}
    right={{ gce_peer }}
    rightsubnet={{ gce_subnet }}
    {% else %}
    right={{ aws_peer }}
    rightsubnet={{ aws_subnet }}
    {% endif %}
    pfs=yes
    auto=start
